body{
    background-color: black;
    font-family: 'Exo', sans-serif;
}

.header{
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
}

.scoreboard-panel, .trivia-panel{
    border: solid 2px grey;
    background-color: lightslategray;
    height: 160px;
}

.trivia-panel h3{
    margin: 1%;
}

h2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.game-panel{
    background-color: black;
    color: #ffffff;
    height: 400px;
    font-size: xx-large;
}

#gameboard{
    letter-spacing: 15px;
    text-align: center;
    margin-top: 10%;
    font-size: xx-large;
}

.answer-box{
    border: solid 2px grey;
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.answer-box h3{
    font-size: x-large;
}

.guessed-letters{
    height: auto;
    color: cadetblue;
}
